*{
    box-sizing: border-box;

}
#food-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px 
}
.meal{
    border: 5px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    gap: 10px;
    box-shadow: gold 3px 5px;
}
.img{
    width: 250px;
}
.details{
    border: 5px goldenrod solid;
    margin-bottom: 40px;
    margin-top: 30px;
}

