*{
    box-sizing: border-box;

}
.hadding{
    text-align: center;
    color: lightcoral;
    margin-bottom: 30px;
    }
#food-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px 
}
.banner{
    background-color: lightskyblue;
}
.meal{
    border: 5px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    gap: 10px;
   
}
.detailsHading{
    border: 5px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    gap: 10px;

}
.img{
    width: 250px;
   
}
.imgHading{
    width: 30%;
}
.details{
    border: 5px goldenrod solid;
    margin-bottom: 40px;
    margin-top: 30px;
    color: indigo;
    
}


.Instructions{
color: mediumblue;
text-align: center;
}
.liStyle{
    color: red;
    font-size: medium;
}
.int{
    color: mediumblue;
}
